extends dashboard

block dashboardcontent
	+dialcollection(dashboard.dials)
	h2.sub-header Computer Status
	div.table-responsive: table.table.table-striped
		thead: tr
			th IP
			th ID
			th Status
			th Logged In
			th Actions
		tbody
			each computerInfo in dashboard.computers
				tr
					td= computerInfo.computerIP
					td= computerInfo.computerID
					td: span.glyphicon.glyphicon-ok
					td: span.glyphicon.glyphicon-remove
					td
						button.btn.btn-danger.btn-sm(type='button'): span.glyphicon.glyphicon-off
						button.btn.btn-danger.btn-sm(type='button') Self Destruct
