extends dashboard

block dashboardcontent
	+dialcollection(dashboard.dials)
	h2.sub-header Computer Status
	div.table-responsive: table.table.table-striped
		thead: tr
			th IP
			th ID
			th Status
			th Logged In
			th Actions
		tbody
			tr
				td 10.0.0.1
				td BITC-SERVER
				td: span.glyphicon.glyphicon-ok
				td: span.glyphicon.glyphicon-remove
				td
					button.btn.btn-danger.btn-sm(type='button'): span.glyphicon.glyphicon-off
					button.btn.btn-danger.btn-sm(type='button') Self Destruct
			tr
				td 10.0.0.5
				td BITC-CLIENT1
				td: span.glyphicon.glyphicon-ok
				td: span.glyphicon.glyphicon-ok
				td
					button.btn.btn-danger.btn-sm(type='button'): span.glyphicon.glyphicon-off
					button.btn.btn-danger.btn-sm(type='button') Self Destruct
			tr
				td 10.0.0.6
				td BITC-CLIENT2
				td: span.glyphicon.glyphicon-ok
				td: span.glyphicon.glyphicon-ok
				td
					button.btn.btn-danger.btn-sm(type='button'): span.glyphicon.glyphicon-off
					button.btn.btn-danger.btn-sm(type='button') Self Destruct
			tr
				td 10.0.0.7
				td BITC-CLIENT3
				td: span.glyphicon.glyphicon-remove
				td: span.glyphicon.glyphicon-remove
				td
					button.btn.btn-danger.btn-sm(type='button'): span.glyphicon.glyphicon-off
					button.btn.btn-danger.btn-sm(type='button') Self Destruct
			tr
				td 10.0.0.101
				td BITC-ADMIN1
				td: span.glyphicon.glyphicon-ok
				td: span.glyphicon.glyphicon-remove
				td
					button.btn.btn-danger.btn-sm(type='button'): span.glyphicon.glyphicon-off
					button.btn.btn-danger.btn-sm(type='button') Self Destruct
			tr
				td 10.0.0.102
				td BITC-ADMIN2
				td: span.glyphicon.glyphicon-remove
				td: span.glyphicon.glyphicon-remove
				td
					button.btn.btn-danger.btn-sm(type='button'): span.glyphicon.glyphicon-off
					button.btn.btn-danger.btn-sm(type='button') Self Destruct
			tr
				td 10.0.1.7
				td {unknown}
				td: span.glyphicon.glyphicon-ok
				td: span.glyphicon.glyphicon-remove
				td
					button.btn.btn-danger.btn-sm.disabled(type='button'): span.glyphicon.glyphicon-off
					button.btn.btn-danger.btn-sm.disabled(type='button') Self Destruct
